<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<title>Home</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="home.css"/>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="jquery-3.6.0.js"></script>
</head>
<body>
	
	    <ul>
	        <li><a href="customer">Clienti</a></li>
	        <li><a href="offer">Offerte</a></li>
	        <li><a href="quotation">Preventivi</a></li>
	    </ul>








<!-- 
 <nav class="navMenu">
      <a href="customer">Clienti</a>
      <a href="offer">Offerte</a>
      <div class="dot"></div>
    </nav>

 -->
   
</body>
</html>
