<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
<title>Preventivo</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="main.css"/>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="jquery-3.6.0.js"></script>

<script>
	$(document).ready(function() {
		lista();
	});

	function lista() {
		$("body").empty();
		$.get(
						"http://localhost:8081/quotations",
						function(data, status) {
							var cnt = data.length;
							var tr = "";

							var table = "<div class='row'>"
									+ "<div class='col-4'></div>"
									+ "<div class='col-4 text-center h2'>" + "Preventivi" + "</div>"
									+ "<div class='col-2'></div>"
									+ "<div class='col-2 text-center'><br /><button class='btn btn-success btn-sm' onclick='inserimento()'><i class='fa fa-plus'></i> aggiungi</button></div>"
									+ "</div> <div>"
									+ "<table class='table table-responsive'>" + "<thead>" + "<tr>"
									+ "<th>ID PREVENTIVO</th>"
									+ "<th>CODICE</th>"
									+ "<th>DATA</th>"
									+ "<th>PREZZO</th>"
									+ "<th>OFFERTA</th>"
									+ "<th>CLIENTE</th>" + "<th></th>"
									+ "<th></th>" + "</tr>" + "</thead>"
									+ "<tbody id='tbody'>"
									+ "</tbody>" + "</table>"
									+ "<a href='/' style='text-decoration: none'>Torna alla Homepage &nbsp &nbsp</a>"
									+ "<a href='/quotations/excel' style='text-decoration: none'>Download Excel &nbsp &nbsp</a>"
									+ "<a href='/quotations/pdf' style='text-decoration: none'>Download PDF</a>"
									+ "</div>";


							console.log('COUNT = ' + cnt);
							$("body").append(table);
							
							for (let i = 0; i < cnt; i++) {

								var quotationId = data[i].quotationId;
								var code = data[i].code;
								var quotationDate = data[i].quotationDate;
								var price = data[i].price;
								var descOffer;
								var fullName;
								
								if(data[i].offerId != null) {
									descOffer = data[i].offerId.descOffer;
								} else {
									descOffer = "";
								}
								
								
								if(data[i].customerId != null) {
									fullName = data[i].customerId.fullName;
								} else {
									fullName = "";
								}

								tr = tr
										+ "<tr><td>"
										+ quotationId
										+ "</td><td>"
										+ code
										+ "</td><td>"
										+ quotationDate
										+ "</td><td>"
										+ price
										+ "</td><td>"
										+ descOffer
										+ "</td><td>"
										+ fullName
										+ "</td><td><button class='btn btn-primary' onclick='modifica("
										+ JSON.stringify(data[i])
										+ ")'><i class='fa fa-edit'></i> modifica</button> </td>"
										+ "</td><td><button class='btn btn-danger' onclick='elimina("
										+ JSON.stringify(data[i])
										+ ")'><i class='fa fa-trash'></i> elimina</button> </td></tr>";
							}
							$("#tbody").append(tr);
						});
	}

	function modifica(quotation) {		
		$("body").empty();

		var form = "<div class='text-center h2'>Modifica Preventivo " + quotation.quotationId + "</div>"
				+ "<div>"
				+ "<table class='table text-center'>"
				+ "<tr><th>Codice Preventivo</th><td>"
				+ "<input type='text' id='code' name='code' value='" + quotation.code + "'>" 
				+ "</td></tr>"
				+ "<tr><th>Data</th><td>"
				+ "<input type='date' id='quotationDate' name='quotationDate' value='" + quotation.quotationDate + "'>"
				+ "</td></tr>"
				+ "<tr><th>Prezzo</th><td>"
				+ "<input type='text' id='price' name='price' value=''" + quotation.price + "'>"
				+ "</td></tr>"
				+ "<tr><th>ID Offerta</th><td>"
				+ "<input type='text' id='offerId' name='offerId' value='" + quotation.offerId.offerId + "'>"
				+ "</td></tr>"
				+ "<tr><th>ID Cliente</th><td>"
				+ "<input type='text' id='customerId' name='customerId' value='" + quotation.customerId.customerId + "'>"
				+ "</table>"
				+ "</div> <div class='text-center'>"
				+ "<button class='btn btn-primary' onclick='submitQuotation(" + quotation.quotationId + ")'><i class='fa fa-edit'></i> conferma</button> &nbsp;"
				+ "<button class='btn btn-secondary' onclick='lista()'><i class='fa fa-close'></i> annulla</button>"
				+ "</div>";

		$("body").append(form);
		
	}
	
	function inserimento() {		
		$("body").empty();

		var form = "<div class='text-center h2'>Inserisci Preventivo </div>"
				+ "<div class='row'>"
				+ "<div class='col-6'>"
				+ "<table class='table text-center'>"
				+ "<tr><th>Codice Preventivo</th><td>"
				+ "<input type='text' id='code' name='code' value=''>" 
				+ "</td></tr>"
				+ "<tr><th>Data</th><td>"
				+ "<input type='date' id='quotationDate' name='quotationDate' value=''>"
				+ "</td></tr>"
				+ "<tr><th>Prezzo</th><td>"
				+ "<input type='text' id='price' name='price' value=''>"
				+ "</td></tr>"
				+ "<tr><th>ID Offerta</th><td>"
				+ "<input type='text' id='offerId' name='offerId' value=''>"
				+ "</td></tr>"
				+ "<tr><th>ID Cliente</th><td>"
				+ "<input type='text' id='customerId' name='customerId' value=''>"
				+ "</td></tr>"
				+ "</table>"
				+ "</div>"
				+ "</div>"
				+ "<div class='text-center'>"
				+ "<button class='btn btn-primary' onclick='submitInserimentoQuotation()'><i class='fa fa-plus'></i> inserisci</button> &nbsp;"
				+ "<button class='btn btn-secondary' onclick='lista()'><i class='fa fa-close'></i> annulla</button>"
				+ "</div>";

		$("body").append(form);
		
	}
	
	
	function submitQuotation(quotationId) {
		
		var dataSubmit = "{"
						    + "\"code\":" + "\"" + $("#code").val() + "\","
						    + "\"quotationDate\":" + "\"" + $("#quotationDate").val() + "\","
						    + "\"price\":" + "\"" + $("#price").val() + "\","
						    + "\"offerId\":" + "\"" + $("#offerId").val() + "\","
						    + "\"customerId\":" + "\"" + $("#customerId").val() + "\""
						 +"}";
			
		
		
		$.ajax({
	        type: "PUT",
	        url: "http://localhost:8081/quotations/" + quotationId,
	        contentType: "application/json",
	        data: dataSubmit,
	        success: function(data)
	        {
	          
	          lista();
	        }
	    });
	}
	
	
	function submitInserimentoQuotation() {
			
			var dataSubmit = "{"
					    + "\"code\":" + "\"" + $("#code").val() + "\","
					    + "\"quotationDate\":" + "\"" + $("#quotationDate").val() + "\","
					    + "\"price\":" + "\"" + $("#price").val() + "\","
					    + "\"offerId\":" + "\"" + $("#offerId").val() + "\","
					    + "\"customerId\":" + "\"" + $("#customerId").val() + "\""
				 +"}";
				
			
			
			$.ajax({
		        type: "POST",
		        url: "http://localhost:8081/quotations/",
		        contentType: "application/json",
		        data: dataSubmit,
		        success: function(data)
		        {
		          
		          lista();
		        }
		    });
			
		}
	function elimina(quotation) {
		
		$.ajax({
			type : "DELETE",
			url : "http://localhost:8081/quotations/" + quotation.quotationId,
			contentType : "application/json",
			success : function(data) {
				
				lista();
			},
			error: function(error) {
				console.log(error);
			}
		});
	}
</script>

</head>
<body>





</body>
</html>